.feed-outer {
  width: 100vw;
  height: 700px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
}

.feed-left {
  width: 45%;
  height: 100%;
  margin-left: 40px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.feed-right {
  width: 45%;
  height: 100%;
  display: flex;
  margin-left: 80px;

  justify-content: center;
  align-items: center;
}

.feed-form-outer {
  width: 70%;
  height: 94%;
  display: flex;
  flex-direction: column;

  background-color: white;
  border-radius: 10px;
  box-shadow: 9px 12px 20px 0px rgba(255, 255, 255, 0.1);
}

.Feed-form {
  margin-top: 30px;
}

.field-name {
  margin-left: 30px;
  font-size: 32px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  color: #1e1e1e;
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  display: flex;
}

.input-group input {
  margin-top: 10px;
  padding-left: 50px; /* Adjust the padding based on the icon size */

  width: 450px;
  height: 45px;
  border-radius: 9px;
  margin-left: 30px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #4a4949;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
  border: 2px solid #4a4949;
  transition: border-color 0.3s; /* Add a transition for a smooth color change */

  
}

.input-group .iname:focus {
  outline: none;    
  border: 2px solid #0096ff;
}
.input-group .iemail:focus {
    outline: none;    
    border: 2px solid #0096ff;
  }
.input-group .icon {
  position: absolute;
  top: 57%;
  right: 515px; /* Adjust the right distance based on your design */
  transform: translateY(-50%);
  width: 30px; /* Adjust the width based on your icon size */
  height: 30px; /* Adjust the height based on your icon size */
}

.input-group .icon img {
  width: 100%;
  height: 100%;
}

.space{
    height: 25px;
    width: 100%;
}

.input-ta{
    margin-top: 10px;
    margin-left: 30px;
    width: 500px;
    height: 200px;
    padding-left: 20px;
    padding-top: 10px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #4a4949;
    border-radius: 9px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
    border: 2px solid #4a4949;
}

.input-ta:focus{
    outline: none;
    border: 2px solid #0096ff;
}

.submit-button {
    margin-top: 10px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 24px;
    color: white;
    background-color: #0096ff;
    height: 50px;
    width: 300px;
    font-weight: 600;
    border-radius: 8px;
    margin-left: 140px;
  }