.search-container {
  display: flex;
  flex-direction: column;
  margin: 30px;
  gap: 20px;

  height: 40px;
}

.search {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.category {
  font-family: "Space Grotesk", sans-serif;
  font-size: 32px;
  font-weight: 600;

  color: #1e1e1e;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.result {
  font-family: "Space Grotesk", sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #1e1e1e;
}

.helplines {
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #353333;
}

.category-select {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #7c7c7c;
  border: 2px solid #353333;
  transition: border-color 0.3s; /* Add a smooth transition effect */
}

.category-select:focus {
  border: 2px solid #0096ff;
  outline: none; /* Remove the default focus outline */
}

.search-button{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: white;
    background-color: #0096ff;
    border: none;
    margin-left: 10xpx;

}
.clear-button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: white;
    background-color: var(--primary-button-color);
    border: none;
    margin-left: 10xpx;
}